html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #000000 0%, #b2b2b2 52%, #ffffff 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}

.titulo {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.container {
    background-color: rgba(255, 255, 255, 0.571);
}

.contador-container {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.processes {
  text-align: center;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.lotes{
  text-align: center;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.total{
  margin-right: 100px;
  font-weight: bold;
  color: #30cb35;
}

.ejecution{
  margin-right: 100px;
  font-weight: bold;
  color: #003fdd;
}

.remaining{
  margin-right: 100px;
  font-weight: bold;
  color: #dd0000;
}

.selector-opt{
  height: 40px;
}

.resultados div {
  font-weight: bold;
  font-size: 17px;
  margin: 10px;
  font-style: italic;
}

.error-validation {
  background-color: rgb(228, 106, 106);
  color: white;
  text-align: center;
  padding: 2px;
}

.current-process{
  font-size: 20px;
}

.contador{
  background-color: #000000;
}

.component{
  font-weight: bold;
  font-size: 17px;
  font-style: italic;
}

.altura-2rem {
  height: 2rem;
}

.modal {
  display: none; /* Por defecto oculto */
  position: fixed; /* Fijar la posición */
  z-index: 1; /* Posición en la pila */
  left: 0;
  top: 0;
  width: 100%; /* Tamaño completo */
  height: 100%; /* Tamaño completo */
  overflow: auto; /* Desbordamiento si es necesario */
  background-color: rgb(0,0,0); /* Fondo negro */
  background-color: rgba(0,0,0,0.4); /* Fondo negro con transparencia */
}

.modal-content {
  background-color: #fefefe; /* Fondo blanco */
  margin: 15% auto; /* Margen superior e inferior y centrado horizontal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del contenido */
  max-height: 80%; /* Altura máxima del contenido */
  overflow-y: auto; /* Desbordamiento vertical si es necesario */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
